<appSettings>

	<!--Config Default made-->
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
	<!--Youtube Key-->
	<add key="YoutubeClient_id" value="460509238525-aonq4lac1fctv0ah0smt5qavgqh46uhs.apps.googleusercontent.com"/>
	<add key="YoutubeClient_secret" value="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"/>
	
	<!--Google Enpoint -->
	<add key="GoogleLeapis" value="https://www.googleapis.com"/>
	<add key="GoogleRedirect_uri" value="https://localhost/allow"/>
	<add key="GoogleAccounts" value="https://accounts.google.com"/>
	
	<!--Google Scope -->
	<add key="GoogleManagerment" value="https://www.googleapis.com/auth/youtube"/>
	<add key="GoogleReadonly" value="https://www.googleapis.com/auth/youtube.readonly"/>
	<add key="GoogleUpload" value="https://www.googleapis.com/auth/youtube.upload"/>
	<add key="GoogleAudit" value="https://www.googleapis.com/auth/youtubepartner-channel-audit"/>

</appSettings>